body {
    background: black url('https://hdqwalls.com/download/jar-bokeh-effect-lights-4k-x2-1920x1080.jpg');
    background-attachment: fixed;
    background-position: center center;
    min-width: 100%;
    min-height: 100%;
}